.body {
    font-family: 'Poppins', Helvetica, arial, sans-serif !important;
}

.mieciekbot-img {
    margin-bottom: 40px;
    margin-top: -50px;
}

.navbar-brand {
    font-family: Poppins;
}

.navbar-items {
    margin-left: 10px;
}