.mieciekbot-img {
    width: 40%;
    margin-bottom: 6px;
    margin-top: 30px;
}

.mieciekbot-name {
    font-size: 34px;
    padding-top: 8px;
}

.description {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.65);
    padding: 0px 10px;
}