.guilds {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    padding: 0px 0.5em;
    align-self: stretch;
    margin-top: 30px;
}

.guild {
    display: flex;
    flex: 1 1 0%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0.4em;
    border-radius: 5px;
    cursor: pointer;

    margin-bottom: 5px;
}

.guild:hover {
    background-color: #23272e;
}

.guild-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    margin-inline-start: -20px;
    margin-bottom: -20px;
}

.guild-name {
    font-size: 13px;
    font-weight: bold;

    margin-inline-start: 20px;
    margin-bottom: 20px;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 0 1em;
}

.guild-icon {
    margin-inline-start: 20px;
    margin-bottom: 20px;

    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    background-size: 45px;
    
    border-radius: 50%;

    align-self: center;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    padding: 0;
}

.guild-acronym {
    border: 1px solid white;
    color: white;
    
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-shrink: 0;
    user-select: none;
}