body {
    font-family: 'Open Sans', sans-serif, Helvetica, arial, sans-serif !important;
}

#root {
	background-color: #282c34;
	color: white;
	min-height: 100vh;
}

.app {
	max-width: 990px;
	padding: 5vh 0.7vh;
	font-size: calc(10px + 2vmin);
	margin: auto;
	text-align: center;
}

.btn {
    min-width: 130px;
    max-width: 150px;
    flex-shrink: 0;
}

h1 {
    font-family: 'Poppins', Helvetica, arial, sans-serif;
    text-transform: uppercase;
    padding: 20px 0 10px 0;
    font-size: calc(8px + 3vmin) !important;
    font-weight: 600;
}