.guild-dashboard-wrapper {
    border: 1px solid rgba(255, 255, 255, 0.1);

    min-height: 70vh;

    padding: 14px;
    margin: 0px 6px;
}

.guild-dashboard-info {
    font-family: 'Poppins';
    text-align: start;
}

.dashboard-input-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    margin-top: 24px;
}

.dashboard-input-container-header {
    width: 100%;
    text-align: start;
    font-size: 20px;
    margin-bottom: -6px;
}

.dashboard-input-section {
    width: 50%;
    flex-wrap: 0;
    flex-grow: 0;
    padding: 20px 0 0 20px;
}

p.dashboard-input-label {
    flex: 1 1 auto;
    text-transform: uppercase;
    font-size: 50%;
    color: #b9bbbe;
    text-align: start;
    width: 100%;
    margin-bottom: 2px;
}

input, select {
    padding: 10px;
    height: 40px !important;
    width: 100% !important;

    background-color: #2f3136 !important;
    border: 1px solid #040405 !important;
    border-radius: 3px;
    box-sizing: border-box;
    color: #f6f6f7 !important;
    box-shadow: none !important;
}

input:focus, select:focus {
    /* border-color: #7289da; FROM DISCORD.COM */
    border-color: rgba(255, 255, 255, 0.1);
}

.input-label {
    font-size: 70%;
}