##### MIECIEKBOT-DASHBOARD-API #####
DASHBOARD_API_PORT = 8090
DASHBOARD_API_CLIENT_ID = 000000000000000000
DASHBOARD_API_CLIENT_SECRET = "your client secret"
DASHBOARD_API_CALLBACK_URL = "/api/auth/discord/redirect"
DASHBOARD_CLIENT_URL = "http://localhost:8080"
DASHBOARD_API_DATABASE = "your mongodb database uri"